
@font-face {
  font-family: 'HennyPenny';
  src:  url('../lib/ionic/fonts/HennyPenny-Regular.eot?#iefix') format('embedded-opentype'),
        url('../lib/ionic/fonts/HennyPenny-Regular.otf')  format('opentype'),
	      url('../lib/ionic/fonts/HennyPenny-Regular.woff') format('woff'),
        url('../lib/ionic/fonts/HennyPenny-Regular.ttf')  format('truetype'),
        url('../lib/ionic/fonts/HennyPenny-Regular.svg#HennyPenny-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
