<ion-view view-title="{{params.storyTitle}}">
  <ion-content class='story-page'>
    <label class="item item-input" ng-repeat="input in storyObj.inputs">
      <span class="input-label">{{input.title}}</span>
      <input type="text" ng-model='input.value'>
    </label>
    <div class='story-text'>
      <b ng-bind='storyObj.inputs.main.value'></b>
      <br/><br/><br/>
      <story atest='attr working'>{{test}}</story>
      <br>
      <p ng-bind-html="storyObj.text">
        {{storyObj.text}}
      </p>
    </ion-content>
</ion-view>
