<ion-view view-title="{{params.storyTitle}}">
  <ion-content>
    <p>This was option {{params.storyId}}</p>
    <label class="item item-input">
      <span class="input-label">main character</span>
      <input type="text" ng-model="main">
    </label>
    <label class="item item-input">
      <span class="input-label">sub character</span>
      <input type="text" ng-model="sub">
    </label>
    <label class="item item-input">
      <span class="input-label">superhero</span>
      <input type="text" ng-model="superhero">
    </label>
    <label class="item item-input">
      <span class="input-label">villian</span>
      <input type="text" ng-model="villian">
    </label>
    <p>
      the {{main}} was friends with the {{sub}}, who loved the {{superhero}} and fought against the {{villian}}
    </p>
  </ion-content>
</ion-view>
