<ion-view view-title="{{params.storyTitle}}">
  <ion-content class='story-page'>
    <label class="item item-input" ng-repeat="input in storyObj.inputs">
      <span class="input-label">{{input.title}}</span>
      <input type="text" ng-model='input.value'>
    </label>
    <div class='story-text'>
      <b style="color:blue">{{storyObj.inputs.main.value}}</b> was friends with the
      <b style="color:lightblue">{{sub}}</b>,
      who loved the <b style="color:green">{{superhero}}</b>
      and fought against the <b style="color:red">{{villian}}</b>
    </div>
  </ion-content>
</ion-view>
